<div class="menu">
  <div class="menu_in">
    <a href="">
      <img src="/assets/images/logo_main.svg" alt="" />
    </a>
    <div class="nav">
      <a href="">
        <img src="/assets/images/ico_main.svg" alt="" />
        <span>메인</span>
      </a>
      <a href="">
        <img src="/assets/images/ico_search.svg" alt="" />
        <span>검색</span>
      </a>
      <a href="">
        <img src="/assets/images/ico_category.svg" alt="" />
        <span>카테고리</span>
      </a>
      <a href="">
        <img src="/assets/images/ico_file.svg" alt="" />
        <span>내 파일</span>
      </a>
      <a href="">
        <img src="/assets/images/ico_logout.svg" alt="" />
        <span>로그아웃</span>
      </a>
    </div>
  </div>
  <div class="my">
    <ul>
      <li class="point">
        <h5>포인트</h5>
        <p><span class="my_point">1,234</span>P</p>
      </li>
      <li class="bonus">
        <h5>보너스 포인트</h5>
        <p><span class="my_bonus">1,234</span>P</p>
      </li>
      <li class="subscription">
        <h5>정액제</h5>
        <span class="my_subscription">미사용</span>
      </li>
      <li class="child_protection">
        <h5>자녀보호</h5>
        <span>ON</span>
      </li>
    </ul>
  </div>
</div>
