.category_page {
  position: relative;
}

.category_header {
  position: sticky;
  z-index: 1000;
  top: 0;
  background-color: #000;
  padding-top: 1.5vw;
  padding-bottom: 0.8vw;
}

.category_header .header_in {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.category_header .header_in .nav_category {
  display: flex;
  gap: 1.5vw;
  margin-left: 1vw;
}

.category_header .header_in .nav_category .cat_item {
  font-size: 3.1vw;
  color: #555;
  font-weight: 400;
}

.category_header .header_in .nav_category .cat_item:hover,
.category_header .header_in .nav_category .cat_item:focus {
  color: #bbbbbb;
  font-weight: 500;
}

.category_header button {
  background: none;
  border: none;
}

.category_header .back_button {
  cursor: pointer;
  left: 0;
  width: 4.7vw;
  height: 4.7vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
}

.category_header .back_button img {
  width: 23%;
}

.category_header .back_button:hover {
  background-color: #333;
}

.category_header .genre_list li {
  padding-right: 0.5vw;
}
.category_header .genre_list li a {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2vw;
  font-weight: 300;
  padding: 1.2vw 0;
  background-color: #262626;
  text-wrap: nowrap;
  border-radius: 100vh;
}

.category_header .genre_list li :hover,
.category_header .genre_list li :focus {
  background-color: #444;
  font-weight: 500;
}

/* 장르 slick 슬라이드 */
.genre_list .slick-list {
  padding-top: 1.7vw;
  /* margin-right: -4.6vw;
  padding-right: 4.6vw; */
}

.genre_list .slick-track > li {
  transition: transform 0.3s ease;
}

.genre_list .slick-track > li:hover,
:focus {
  transform: translateY(-0.7813vw);
}

.genre_list .slick-arrow {
  position: absolute;
  top: calc(50% + 0.85vw);
  transform: translateY(-50%);
  z-index: 1;
  display: block;
  width: 1.7188vw !important;
  height: 3.125vw !important;
}

.genre_list .slick-prev {
  left: -3vw !important;
}

.genre_list .slick-prev:before {
  content: "" !important;
  display: block;
  width: 100%;
  height: 100%;
  background-image: url("/assets/images/ico_prev.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.genre_list .slick-next {
  right: -3vw !important;
}

.genre_list .slick-next:before {
  content: "" !important;
  display: block;
  width: 100%;
  height: 100%;
  background-image: url("/assets/images/ico_next.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

/* hover 상태에서 이미지 교체 */
.genre_list .slick-prev:hover:before {
  background-image: url("/assets/images/ico_prev_active.svg");
}

.genre_list .slick-next:hover:before {
  background-image: url("/assets/images/ico_next_active.svg");
}

/* 콘텐츠 리스트 */
.video_grid {
  padding-top: 2vw;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
}

.video_item {
  cursor: pointer;
  padding: 0.5vw;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.video_item:hover {
  transform: translateY(-0.7813vw);
}

.video_item:hover img {
  border: 2px solid #555;
}

.video_item img {
  border: 2px solid transparent;
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.video_title {
  font-size: 1.25vw;
  margin-top: 0.5vw;
  line-height: 1.3;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
