.search_page {
  position: relative;
}

.search_header {
  position: sticky;
  z-index: 1000;
  top: 0;
  background-color: #000;
  padding-top: 1.5vw;
  padding-bottom: 5.2vw;
}

.search_header .header_in {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search_header button {
  background: none;
  border: none;
}

.search_header .back_button {
  cursor: pointer;
  position: absolute;
  left: 0;
  width: 4.7vw;
  height: 4.7vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
}

.search_header .back_button img {
  width: 23%;
}

.search_header .back_button:hover {
  background-color: #333;
}

.search_input_wrapper {
  position: relative;
  width: 53%;
}

.search_input {
  width: 100%;
  height: 4.7vw;
  font-size: 1.8vw;
  font-weight: 300;
  border: none;
  border-bottom: 2px solid #3d8eee;
  background: none;
  color: #fff;
  outline: none;
}

/* 자동완성 시에도 동일한 스타일 적용 */
.search_input:-webkit-autofill,
.search_input:-webkit-autofill:hover,
.search_input:-webkit-autofill:focus,
.search_input:-webkit-autofill:active {
  -webkit-text-fill-color: #fff; /* 텍스트 색상 */
  -webkit-box-shadow: 0 0 0px 1000px transparent inset; /* 배경 색상 */
  transition: background-color 5000s ease-in-out 0s;
}

.search_input_wrapper .search_button {
  cursor: pointer;
  opacity: 0.6;
  position: absolute;
  right: 0;
  bottom: 50%;
  transform: translateY(50%);
  transition: opacity 0.25s;
}

.search_input_wrapper .search_button:hover,
:focus {
  opacity: 1;
}

.search_input_wrapper .search_button img {
  width: 2.3vw;
}

.search_results {
  border-top: 1px solid #555;
}
.search_results .description {
  font-size: 1.8vw;
  font-weight: 500;
  margin: 20px 0;
}

.search_results .description > span {
  font-family: "Pretendard Variable";
}

.video_grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
}

.video_item {
  cursor: pointer;
  padding: 0.5vw;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.video_item:hover {
  transform: translateY(-0.7813vw);
}

.video_item:hover img {
  border: 2px solid #555;
}

.video_item img {
  border: 2px solid transparent;
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.video_title {
  font-size: 1.25vw;
  margin-top: 0.5vw;
  line-height: 1.3;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
